e-medicarrier-konsument/src/main/mule/e-medicarrier-konsument.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:e-medicarrier-konsument="http://www.mulesoft.org/schema/mule/e-medicarrier-konsument" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="e-medicarrier-konsument-config" api="resource::92390312-a299-4a44-bab3-7ed429db840b:e-medicarrier-konsument:3.0.1:raml:zip:e-medicarrier-konsument.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="e-medicarrier-konsument-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="e-medicarrier-konsument-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="e-medicarrier-konsument-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="e-medicarrier-konsument-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\product:e-medicarrier-konsument-config">
        <logger level="INFO" doc:name="Log start" doc:id="10255e39-c863-4bc2-aa88-106465094e6a" message="POST product START" category="e.medicarrier.product.post.start" />
        <logger level="INFO" message="get:\article:e-medicarrier-konsument-config" />
        <http:request method="POST" doc:id="33294bbe-ff4a-4d52-8397-7b330bf237b1" doc:name="Send to process layer" config-ref="HTTP_Request_configuration" path="process/product" />
    </flow>
    <flow name="get:\product:e-medicarrier-konsument-config">
        <logger level="INFO" doc:name="Log start" doc:id="55f77246-4b20-42b5-9644-590a1fa13ad2" message="GET product START" category="e.medicarrier.product.get.start" />
        <logger level="INFO" message="get:\ImiCzPartvType_outdata:e-medicarrier-konsument-config" />
        <ee:transform doc:name="Transform Message" doc:id="caf2cfa4-226b-44de-b009-626a6270bc58">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	product_number: "59312",
	product_description_1: "KATETER TAPPNING 18CM NR18 S",
	product_description_2: "RÖD KONA PLAST NELATON FP100",
	vendor_product_number: "306574",
	sales_unit: "RÖR",
	min_quantity: "PÅS",
	min_quantity_package: ["AFP", "TL", "ST","TRP"],
	article_type: "Lagerförd artikel",
	area_code: "99",
	division_code: "SLS",
	product_group_code: "0921",
	item_group_code: "K52",
	statistical_group_code: "ADM",
	vendor_number: "LÅSSMEDERNA VALLENTUNA-ÖSTERÅK"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customer\(customer_id):e-medicarrier-konsument-config">
        <logger level="INFO" doc:name="Logger" doc:id="d162f0cf-b38f-4fd1-a6b6-5d9e997d4b2d" />
		<logger level="INFO" doc:name="Logger" doc:id="c3fc1e9e-bcde-42e4-9bdd-ea61ec1bbe08" />
		<logger level="INFO" doc:name="Logger" doc:id="8575326c-f003-4173-97cb-71b54c8ecfc4" />
		<logger level="INFO" doc:name="Logger" doc:id="a984567f-67c0-4c2b-96c6-d1028268bd0c" />
		<logger level="INFO" doc:name="Logger" doc:id="ddc422c9-73da-416b-bc57-f05177ae4b12" />
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="619db5e1-4e87-4071-9f31-2d68bdd5f38f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customer: "empty"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer:application\json:e-medicarrier-konsument-config">
        <http:request method="POST" doc:name="Send to process layer" doc:id="aa7ef3a2-5e06-45aa-a9ab-c56d816e124c" config-ref="HTTP_Request_configuration" path="process/customer" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Customer posted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\product:application\json:e-medicarrier-konsument-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "Product posted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
