s-medicarrier-erp/src/main/mule/s-medicarrier-erp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="s-medicarrier-erp-config" api="resource::92390312-a299-4a44-bab3-7ed429db840b:s-medicarrier-erp:1.0.5:raml:zip:s-medicarrier-erp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="s-medicarrier-erp-main">
        <http:listener path="/api/system/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="s-medicarrier-erp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="s-medicarrier-erp-console">
        <http:listener path="/console/system/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="s-medicarrier-erp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\product\(productid):s-medicarrier-erp-config">
        <logger level="INFO" doc:name="Log start" doc:id="332bc413-2e1d-4749-a078-38bf770c2f98" message="START system GET" category="system.start" />
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productid">attributes.uriParams.'productid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log product_id" doc:id="1d93bf5d-e935-49d6-8bb1-e333f222b81c" message="#[vars.productid]" category="system.productid" />
        <flow-ref doc:name="s-medicarrier-database-subflow" doc:id="8dff07d1-feb7-4344-920f-1bebac43903c" name="s-medicarrier-database-subflow" />
    </flow>
    <sub-flow name="s-medicarrier-database-subflow" doc:id="313d4a2f-07b1-4f80-8d0e-29596417401c">
        <logger level="INFO" doc:name="QUERY DATABASE" doc:id="12ed0fa4-c6ab-46b3-b593-1bfd3344bd4d" category="system.subflow.database.start" />
        <choice doc:name="Choice" doc:id="38cc5284-5cad-49fa-9897-a1116496d7fb">
            <when expression="#[vars.productid == &quot;59312&quot;]">
                <ee:transform doc:name="Database dummy 59312" doc:id="03d9865a-c47e-4267-a5d3-3df0895d150e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	product: {
		number: "59312",
		description_1: "TRÄSKOR VITA NORMAL VRIST NR37",
		group_code: "001",
		
	},
	vendor: {
		product_number: "306574",
		number: "LÅSSMEDERNA VALLENTUNA-ÖSTERÅK"
	},
	sales: {
		unit: "RÖR"
	},
	min_quantity: {
		min_quantity: "PÅS",
		min_quantity_package: ["AFP", "TL", "ST","TRP"]
	},
	article_type: "Lagerförd artikel",
	codes: {
		area: "0",
		division: "SLS",
		item_group: "001",
		statistical_group: "001"
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[vars.productid == &quot;58312&quot;]">
                <ee:transform doc:name="Database dummy 58312" doc:id="957f4075-0c1b-4d55-bc1f-e515a9bf448d">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	product: {
		number: "58312",
		description_1: "KATETER TAPPNING 18CM NR18 S",
		description_2: "RÖD KONA PLAST NELATON FP100",
		group_code: "000",
		
	},
	vendor: {
		product_number: "306574",
		number: "LÅSSMEDERNA VALLENTUNA-ÖSTERÅK"
	},
	sales: {
		unit: "RÖR"
	},
	quantity: {
		min_quantity: "PÅS",
		min_quantity_package: ["AFP", "TL", "ST","TRP"]
	},
	article_type: "Lagerförd artikel",
	codes: {
		area: "0",
		division: "SLS",
		item_group: "000",
		statistical_group: "001"
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[vars.productid == &quot;58313&quot;]">
                <ee:transform doc:name="Database dummy 58312" doc:id="cde832a1-7d4d-43d4-b76d-1191889b3dec">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	product: {
		number: "58313",
		description_1: "KATETER TAPPNING 18CM NR18 S",
		description_2: "RÖD KONA PLAST NELATON FP100",
		group_code: "000",
		
	},
	vendor: {
		product_number: "306574",
		number: "LÅSSMEDERNA VALLENTUNA-ÖSTERÅK"
	},
	sales: {
		unit: "RÖR"
	},
	quantity: {
		min_quantity: "PÅS",
		min_quantity_package: ["AFP", "TL", "ST","TRP"]
	},
	article_type: "Lagerförd artikel",
	codes: {
		area: "0",
		division: "SLS",
		item_group: "000",
		statistical_group: "001"
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[vars.productid == &quot;59313&quot;]">
                <ee:transform doc:name="Database dummy 59312" doc:id="22797609-a501-4463-9b14-0b63fed7d867">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	product: {
		number: "59313",
		description_1: "KATETER TAPPNING 18CM NR18 S",
		description_2: "RÖD KONA PLAST NELATON FP100",
		group_code: "000",
		
	},
	vendor: {
		product_number: "306574",
		number: "LÅSSMEDERNA VALLENTUNA-ÖSTERÅK"
	},
	sales: {
		unit: "RÖR"
	},
	quantity: {
		min_quantity: "PÅS",
		min_quantity_package: ["AFP", "TL", "ST","TRP"]
	},
	article_type: "Lagerförd artikel",
	codes: {
		area: "0",
		division: "SLS",
		item_group: "000",
		statistical_group: "001"
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="No product found" doc:id="0fd2a0ed-7dc7-44a7-8476-52d08065a9ae">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"error": "No product found"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable value="#[true]" doc:name="Set Variable error" doc:id="e7288249-75af-4cea-bd00-e430f65c4f23" variableName="error" />
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Log payload" doc:id="31289896-eac1-4168-8c6a-39e28297fabe" message="#[payload]" />
    </sub-flow>
    <flow name="get:\customer\(customer_id):s-medicarrier-erp-config">
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorMessage: "Bad Reque∏st"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\product\(product_id):s-medicarrier-erp-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="product_id">attributes.uriParams.'product_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorMessage: "Bad Request"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
